.transaction-table-container {
    width: 98%;
    margin: 1%;
    border-radius: 10px;
}

/* Overall table styling */
.transaction-table-container table {
    width: 100%;
    background-color: #f9f9f9;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    border-style: hidden!important;
}

.transaction-table-container table th:first-child {
    border-top-left-radius: 10px;
}
    
.transaction-table-container table th:last-child {
    border-top-right-radius: 10px;
}

.transaction-table-container table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
    
.transaction-table-container table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* Table headers and cells */
.transaction-table-container th, td {
    padding: 10px 13px;
    text-align: left;
    font-size: 14px;
}

/* Header styles */
.table-header {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase; /* Capitalize header text */
    cursor: default;
}

/* Header styles */
.table-header-sortable {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase; /* Capitalize header text */
    transition: background-color 0.1s;
}

.table-header-sortable:hover {
    background-color: #45a049;
}


/* Zebra striping for rows */
.transaction-table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.transaction-table-container tr:hover {
    background-color: #ddd;
}

/* Table cell styles */
.transaction-table-container td {
    color: #333;
}

.transaction-table-container .actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

/* Notes input field styling */
.transaction-table-container td input[type="text"], input[type="date"], input[type="number"] {
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    width: 100%;
    height: 33px;
}

/* Type dropdown styling */
.transaction-table-container td select {
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.filters {
    width: 98%;
    margin: 0 1%;
    overflow: hidden;
}

/* Filters section styles */
.filters-content {
    display: flex;
    justify-content: space-evenly;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.3s ease;
}

/* Style for filter labels */
.filter-module {
    height: 250px;
}

/* Style for filter labels */
.filter-modules-with-inputs {
    max-width: 10%;
}

.filter-input {
    margin-bottom: 3%;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    box-sizing: border-box; /* Ensure padding doesn't break layout */
    width: 100%;
    height: 33px;
}

/* Checkboxes for categories */
.checkbox-group {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; /* Stack checkboxes vertically */
    gap: 5px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    max-height: 72%;
}

.checkbox-group input {
    margin-right: 5px;
}

.filters-header {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ccc;
    max-height: 39px;
    width: 98%;
    margin: 1% 0 0 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.3s ease;
}

.filters-header:hover {
    background-color: #45a049;
    transition: all 0.1s ease;
}

.filters-header h4 {
    padding-left: 10px;
    font-size: 14px;
}

.filter-module h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.filters-header span {
    transition: transform 0.3s;
    font-size: 14px;
    margin-left: 8px;
}

/* Style for the delete button */
.transaction-table-container button {
    margin-top: 10px;
    background-color: #aaa;
    border: 1px solid #ccc;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    margin: 1%;
}

.transaction-table-container button i {
    width: 15px;
}

.delete-btn:hover {
    background-color: #c9302c;
    transition: all 0.3s;
}

.add-btn:hover {
    background-color: #45a049;
    transition: all 0.3s;
}